@page "/todos/{id:int}"
@using TodoList.Shared.Domains
@using TodoList.Shared.Contracts.Services
@rendermode InteractiveWebAssembly
@inject ITodoDataService TodoDataService

<PageTitle>Todo @id</PageTitle>

@if (todo == null)
{
    <p>This todo doesn't exists</p>
    return;
} else
{
<Card>
    <CardBody>
        <CardTitle Size="3">
            @todo.Title
        </CardTitle>
        <CardText>
            @todo.Author
        </CardText>
        <CardText>
            @todo.Description
        </CardText>
        <CardText>
            @todo.DeadLine.ToString()
        </CardText>
    </CardBody>
</Card>
}

@code {
    [Parameter]
    public int id { get; set; }
    private Todo todo { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        todo = await TodoDataService.GetTodoById(id);
    }
}
